#first, #second{
    display: inline-block;
    width: 250px;
    text-align: center;
}

#kuvsh1 {
    border: 3px solid black;
    width: 150px;
    height: 300px;
    margin: 10px 50px;
    position: relative;
    
}

#water_1, #water_2{
    background-color: blue;
    width: 150px;
    height: 200px;
    bottom: 0;
    position: absolute;
    transition: height 3s;
}


#kuvsh2 {
    border: 3px solid black;
    width: 150px;
    height: 300px;
    margin: 10px 50px 10px 50px;
    position: relative;
    transition: height 3s;

}